
<div class="container">
  
  <div class="jumbotron" id="wrapper">
    <h1>KUSports News Scraper</h1>
  </div>
  <h2>
    <i>The last 20 articles that appeared on KUSports.com</i>
  </h2>
  <div class="row" id="articles"></div>
  <div class="modal" id="notes">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Comments</button>
  </div>

</div>

