  <div class="container">
  
  <div class="jumbotron" id="wrapper">
    <h1>Here are the Saved Articles</h1>
  </div>
  <h2>
    <i>Saved articles should go here!!!!</i>
  </h2>
  <div class="row" id="articles">{{articles}}</div>
  <div class="modal" id="notes">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Comments</button>
  </div>

</div>