


{{#each articles}}
<h1>why won't this work</h1>
  <div class="container"></div>
    <div class="panel panel-default">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-body">
        {{link}}
        {{id}}
      </div>
    </div>
  </div>  
{{/each}}