{{#each scraped}}
  <div class="container"></div>
    <div class="panel panel-default">
      <div class="panel-heading">{{title}}</div>
      <div class="panel-body">
        {{link}}
        {{id}}
      </div>
    </div>
  </div>  
{{/each}}



<h1>fuck this shit</h1>